table,
tr,
td {
    border: 1px solid black;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 30px;
}

.gridCanvas {
    grid-area: canvas;
    background: rgba(105, 105, 105, 0.55);
    /*dimgrey*/
    border-radius: 7px;
    margin: 0 15px 20px 15px;
    box-shadow: 2px 2px 5px rgba(77, 77, 77, 0.8);
}

.flyItIn2 {
    animation: flyin2 1s ease forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);
}

@keyframes flyin2 {
    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808080;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 20%;
}